<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">	    
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

		<title>Вопрос_Комментарий</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
  <body id="body" style='padding-top:100px;'>
   		
     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <br>
          <a class="navbar-brand" href="index.html">ASK_Terehova</a>
        </div>
        <div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<br class="hidden-md"><form class="navbar-form navbar-left" role="search">  
         <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Поиск" class="form-control">
            </div>
            <button type="submit" class="btn btn-info">Применить</button>
            <button class="btn btn-warning" onclick="location.href='ask.html'">Вопросы?</button>
          </form>
						</li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-md hidden-sm">
								<a href="#"><img class="img-circle" data-src="holder.js/64x64" alt="Аватарка"></a>

						</li>
						<li>
								<div class="container-fluid user-info">
									<a class="navbar-brand">Псевдоимя</a>
									<br>
									<button class="btn btn-info">Настройки</button>
									<button type="submit" class="btn btn-danger" onclick="location.href='login.html'">Выйти</button>
								</div>
						<li>
					</ul>

        </div><!--/.navbar-collapse -->
      </div>
    </div>
			<div class="container">
			<br>
				<div class="col-md-9">
					<h1>Вопрос №100500</h1>
					<hr></hr>
					<div class="media">
						<div class="media-left">
							<a href="#"><img src="holder.js/64x64" alt="Мордашка" class="img-circle"></a>
							<hr></hr>
							<div class="panel-footer">
								<button type="button" class="btn btn-primary">
									<span class="glyphicon glyphicon-thumbs-up"></span> 
								</button>
							</div>				
					</div>
				<div class="media-body">
					<h4 class="media-heading">Тема вопроса<small> от псевдоним</small></h4>
					<div>
						Много буковок
					</div>
					<br>
					<h4 class="media-heading">Тэги: <small>#Фантазиинет</small></h4>
				</div>
			</div>
			
			<hr></hr>
					
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#"><img src="holder.js/64x64" alt="Мордашка" class="img-circle"></a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Тема<small> от псевдоним</small></h4>
							бла-бла-бал-бла-бла
						</div>
					</div>
				</div>
				<div class="panel-footer">
		<button type="button" class="btn btn-primary">
									<span class="glyphicon glyphicon-thumbs-up">4</span> 
								</button>
								<button type="button" class="btn btn-primary">
									<span class="glyphicon glyphicon-thumbs-down">1</span> 
								</button>
							</div>
			</div>			
			
			<hr></hr>
			
			<form class="form-group">
				<textarea class="form-control res-vert" rows="10" placeholder="Твой ответ"></textarea>
				<br>
				<button class="btn btn-success form-control">
					Отправить
				</button>
			</form>
		</div>

		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					Популярные тэги
				</div>
				<div class="panel-body">
					#Фантазиинет
				</div>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Популярные пользоваели</h4>
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<li><h4><a jref="#">Звезда 1</a></h4></li>
						<li><h4><a jref="#">Звезда 2</a></h4></li>
						<li><h4><a jref="#">...</a></h4></li>
						<li><h4><a jref="#">Звезда N</a></h4></li>
					</ul>
				</div>	
			</div>

		</div>

	</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>  </body>
    <script src="holder_min.js"></script>  
  </body>
</html>

