{% extends "base_template.html" %}

{% block main %}
	<h1>Новый вопрос</h1>
	<hr></hr>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="form-1-field" class="col-md-2 control-label">Заголовок</label>
			<div class="col-md-10" id="form-1-field"><input type="text" class="form-control" placeholder="Заголовок вопроса"></div>
		</div>
		<div class="form-group">
			<label for="form-2-field" class="col-md-2 control-label">Текст</label>
			<div class="col-md-10" id="form-2-field"><textarea class="form-control" rows="5" placeholder="Введите вопрос"></textarea></div>
		</div>
		<div class="form-group">
			<label for="form-3-field" class="col-md-2 control-label">Тэги</label>
			<div class="col-md-10" id="form-3-field"><input type="text" class="form-control" placeholder="Ввод тэгов"></div>
		</div>
		<div class="col-md-offset-2">
			<button class="btn btn-success" type="submit" onclick="location.href='question.html'">
				Отправить
			</button>
		</div>
	</form>	
	<br>
	
{% endblock %}