{% extends "base_template_input.html" %}

{% block main %}
	<p>Многобуковок про псевдо сайт, ну там, заходишь, регаешься, чатишься. Подсаживаешься на эту фигню потом более старшее поколение вопит, что нашему поколению хрен что еще надо, кроме как эта "шайтан машина"</p>
	<p>Есть куча высказываний философоф, ученых и тд., которые с ужасом представляли, что такое общество будет. Но.. что мы видим сейчас?</p>
	<br>
	<blockquote>
		<p><h4>"Надо бы гордиться болью, всякая боль есть память о нашем высоком назначении" Прекрасно! За восемьдесят лет до Ницше! Но это не то изречение, которое я имел в виду, - погодите - нашел. Вот оно: "Большинство людей не хочет плавать до того, как научится плавать". Разве это не остроумно? Конечно, они не хотят плавать! Ведь они созданы для суши, а не для воды. И, конечно, они не хотят думать; ведь они рождены для того, чтобы жить, а не для того, чтобы думать! Ну, а кто думает, кто видит в этом главное свое дело, тот может очень в нем преуспеть, но он все-таки путает сушу с водой, и когда-нибудь он утонет.</h4></p>          
	</blockquote>
{% endblock %}